footer{
    background-color: goldenrod;
    padding: 10 0;
    text-align: center;

}

.redesSociales{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
}

.redesSociales li{
    display: inline-block;
} 


